<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/wordcloud.css">
	<script src="../static/jquery-2.0.3.js"></script>
	<script src="../static/colorbrewer.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="../static/d3.layout.cloud.js"></script>
	<script src="../static/wordcloud.js"></script>
</head>

<body>
	

	<div class="lookupform">
	    
	    	<label> #Word</label>
	    	<input type="text" name="word" id="word"/>
		    <div class="button">
		    	<button id = "submitbutton" type="submit">Show me what people are saying</button>
		    </div>
	    

	</div>


	<svg> </svg>


</body>
</html>